.el-container, span, a, .is-active {
  color: #fff !important;
  font-size: 14px;
}
a {
  text-decoration:none
} 
.el-header {
  padding: 0px;
  width: 100%;
  background-color: #373d41;
  height: 50px !important;
}
.app-log {
  width: 180px;
}
.app-language {
  border-left: 1px solid black; 
}
.topbar-left {
  float: left;
}
.topbar-right{
  float: right;
}
.el-menu-item {
  border: 0px !important;
}

.el-menu, .el-menu--horizontal{
  border-bottom: 0px !important;
}
.topbar-btn{
  height: 50px !important;
  line-height: 50px;
  padding:0 30px !important;
}
.topbar-btn:hover{
  cursor: pointer
}
.app-log:hover, .app-language:hover, .app-top-search:hover, .app-top-add:hover, .app-top-setting:hover{
  background-color: rgb(44, 49, 52) !important; 
}
.topbar-btn > a{
  display: block;
  line-height: 50px;
}
.topbar-head {
  border-right: 1px solid black;
}
.is-active{
  background-color:  rgb(51, 205, 229) !important;
}
