.el-container, span, a, .is-active {
  color: #fff !important;
}
a {
  text-decoration:none
} 
.el-header {
  padding: 0px;
  width: 100%;
  background: #545c64;
  height: 50px !important;
}
.topbar-left {
  float: left;
}
.topbar-right{
  float: right;
}
.app-log{
  border-right: 1px solid black;
}
.app-language {
  border-left: 1px solid black; 
}
.app-log, .app-language  {
  height: 50px;
  line-height: 50px;
  padding:0 20px;
}
.app-el-menu-item-top {
  padding: 0 30px;
}
.el-menu-item {
  border: 0px !important;
}
.is-active {
  background: rgb(51, 205, 229) !important;
}
.app-el-menu-item-top, .app-el-menu-top {
 border: 0px !important;
 height: 100% !important;
 line-height: 50px !important;
}