.el-container{
  height: 100%; 
  font-size: 14px;
  color: #fff !important;
}
a {
  text-decoration:none;
  color: #fff !important;
  display: block;
}
a :hover {
  cursor: pointer;
}

span {
  display: block;
}

ul  li {
  list-style-type:none;
}

.top-container{
  position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #373d41;
  height: 50px !important;
}
.top-nav {
  height: 50px;
  border-bottom: none !important;
}
.top-nav > li {
  height: 50px !important;
  padding: 0px;
  border-bottom: none !important;
}

.top-right-container{
  position: absolute;
  right: 0;
  border-left: 1px solid black;
}
.topbar-btn {
  height: 50px;
  line-height: 50px;
  padding:0 20px;
}
.top-right-topbar-btn, .app-log{
  border-right: 1px solid black;
}

.topbar-btn:hover {
  cursor: pointer;
}
.topbar-left {
  float: left;
}
.topbar-right{
  float: right;
}
.is-active{
  background-color:  rgb(51, 205, 229) !important;
}
.topbar-right-dropdown{
  position: relative;
}

.app-top-user {
  width: 120px;
  text-align: center
}

.app-log {
  width: 180px;
  text-align: center
}

.top-right-topbar-btn > li {
  margin: 0 5px;
}

.topbar-right-menu-list-add {
  position: absolute;
  right: 0;
  color: #000;
  border-top: none !important;
  border: 1px solid #ddd;
  margin: 0;
  width: 140px;
  padding: 10px 0;
}

.topbar-right-menu-list-add > li > a {
  color: #000 !important;
  padding: 0 20px;
  white-space: nowrap;
  height: 40px;
  line-height: 40px;
}
.topbar-right-menu-list-add > li > a:hover {
  background: #f5f5f5;
}